
body {
        background-color: rgb(0, 102, 255);
        margin: 20px 15px;
        padding: 10px;
        overflow-x: hidden;
}

h1 {
   background: linear-gradient(to bottom right, blue, white);
    color: #F0FFFF; 
    text-align: center;
    margin: 20px;
    padding: 20px;
    text-shadow: 2px 2px #000000
    
}
/*
nav {
    background-color: rgb(242, 242, 242);
    margin: 10px;
    padding: 20px 20px 20px 20px;
    position: relative;
    text-align: center;
    height: 40px;
    border-radius: 15px;
    font-weight: bold;
    
    
}



nav a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: blanchedalmond;
        border-radius: 20px;
        padding: 10px 70px 20px 70px;
        margin: 30px 50px 30px 3px;
        
        
    
        
    
         
}
*/
h2 {
    background-color: #e6f0ff;
    color: #006600;
    font-variant: small-caps;
}

#maillist {
                text-align: center;


}

section {
        background-color: #4d94ff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

#javascriptnew {
                display: block;
                float : right;
                font-size: large;
                width: 200px;
                position: relative;
                top: 50%;

}

#javascriptnew img {
                        width: 100px;
                        padding-left: 20px;

}

ul {
    color: #FF0000;
    /*background-color: #b3d1ff;*/
    
}

ul li {
        opacity: .6;
}

p {
   /* background-color: #FFCCFF;*/
    color: #4C0099;
    font-family: sans-serif;
    line-height: 40px
}

details {
        background-color: rgb(204, 229, 255);
        font-weight: bold;
}

details p {
                background-color: #CC99FF;
                font-style: italic;
}

progress {
          display: block;
          margin: 30px;
            
}

label {
        padding: 0 2%;
}

#form {

        margin: 5px;
        position: relative;
}

footer  {
               background-color: #4d94ff;
                
}

footer p {
                background: linear-gradient(to bottom right, white, blue);
            color: #FFFFFF;
            
            border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 1%;
            
}

footer img {
            display: none;
}

#left {
        float: left;
        display: inline;
        width: 50%;
        margin-bottom: 10px;
        
}

#right {
        float: center;
        display: inline;
        width: 47%;
        margin-bottom: 20px;
        height: 400px;
        
}

#clear {
        clear: both;
}

.food {
        width: 100px;
        
}

.center {
        text-align: center;
        margin: 0 auto;
        padding-right: 5%;
}

 


a:hover {
        background-color: white;
}

li:hover {
            opacity: 1;
}

/*
img:hover {
                width: 500px;
}
*/
 img { 
        transition: width 2s ease-in;
        width: 100%;
        height: 170%;
        
}

.img-responsive {
                        width: 25%;
                        height: auto;
                        padding: 1%;
                       
                       
}



/*@media screen and (max-width: 1100px) {        
        nav a { 
                
                width: 1%;
                margin: 1%;
                padding: 1%;
                height: 1%;

        }

        footer {
                background-color: inherit;
        }

        footer p {
                        background: inherit;
        }

        #left {
                width: 50%;
        }

        #right {
                width: 45%;
                padding-bottom: 25%;
        }

        h1 {
                border-radius: 50%;
        }
}
*/
            
#cards {
        margin: 2%;
        padding: 2%;
        
        
}


.card {
        height: 30%;
        border: 1px solid black;

}

.container {
                margin: auto;
                
}

@media screen and (min-width: 1000px) {

                img {
                        margin-left: auto;
                        margin-right: auto;
                }
        
}